.logo {
	display: block;
  margin-left: auto;
  margin-right: auto;
}
hr{
	border:1px solid black;
}
footer {
  background-color: white;
  padding: 10px;
  text-align: center;
  color: black;

}
.topnav {
    overflow: auto;
}
.img
{
	display: inline-block;
  margin-left: auto;
}
.dropbtn {
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
   width:120px;  
  margin-top: 20px;
  margin-bottom: 0;
  margin-right: 100px;
  margin-left: 0; 
}

.dropdown {
  right:100%;
  display: inline-block;
  float:right;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 10px;
  margin-bottom: 0;
  margin-right: 10px;
  margin-left: 10px; 
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #006600}

.dropdown:hover .dropdown-content { display: block;}

.dropdown:hover .dropbtn {background-color: #006600;}

.nav-button {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 16px;
  cursor: pointer;
  margin-right: 35px;
  margin-left: 100px;
overflow: auto;  
  
}
.nav-button:hover {background-color: #006600;}
.nav-button{
    overflow: auto;
}
.Search
input[type=text]{
  float: right;
  padding: 10px;
  margin-top: 10px;
  margin-right:30px;
  margin-left: 30px;
  border: 1px solid #ccc;
  font-size:17px;
  width:20%;

}

.nav2-button {
  background-color:white ;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
  margin-left:40px;
  height:20px;
}
.nav2-button:hover {background-color: #006600;}
.nav2-button{
    overflow: hidden;
}

@media screen and (max-width: 600px) {
  .nav2-button,.input[type=text] {
    float: none;
    display: inline;
    text-align: center;
    width: 50px;
    margin: 50px;
    padding:25px;
	border-color: 1px solid #ff1a1a;
  }
  
  input[type=text] {
    border: 1px solid  	 #ff1a1a;  
  }
}
}
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
	font-family: 'poppins',sans-serif;
	margin: 0;
	padding:0;
	scroll-padding-top: 2rem;
	scroll-behavior:smooth;
	box-sizing: border-box;
	list-style: none;
	text-decoration:none;
}
:root{
	--main-color: #fd4646;
	--text-color: #1;
	--bg-color: #fd4646;
}


img{
	width:100%;
}
body{
	color: #17147;
}
.container{
	max-width:1068px;
	margin:auto;
	width:100%;
	
}
section{
	padding: 4rem 0 3rem;
}
header{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	background: #fd4646;
	box-shadow: 0 1px 4px hsl(0 4% 15% /10);
	z-index:100;
}

	
}
.cartnav {
	display :flex;
	align-items:center;
	justify-content: space-between;
	padding:20px 0;
}
.logo{
	
	font-size:1.25rem;
	color: #17147;
	font-weight:400;
	
}
#cart-icon{
	font-size:1.75rem;
	cursor:pointer;
		
}
.cart{
	position:fixed;
	top:0;
	right:0;
	width:360px;
	min-height:100vh;
	padding: 20px;
	background: #FFFFFF;
	box-shadow:-2px 0 4px hsl(0 4% 15% / 10%);

}
.cart-title{
	
	text-align:center;
	font-size: 1.5rem;
	font-weight:600;
	margin-top: 2rem;
}
.cart-box{
	dislay: grid;
	grid-template-column: 32% 50% 18%;
	align-items:center;
	gap:1rem;
	margin-top:1rem;
}
.cart-img{
	width:100px;
	height: 100px;
	object-fit:contain;
	padding:10px;
}
.details-box{
	display:grid;
	row-gap: 0.5rem;
}
.cart-product-title{
	font-size:1rem;
	text-transform: uppercase;
}
.cart-price{
	font-weight:500;
	
}
.cart-quantity{
	border:1px soild var;
	outline-color:var;
	text-align:center;
	font-size:1rem;
	
}
.cart-remove{
	font-size:24px;
	color:var;
	cusor: pointer;
}
.total{
	display: flex;
	justify-content:flex-end;
	margin-top:1.5rem;
	border-top:1px soild var;
}
.total-title{
	font-size:1rem;
	font-weight:600;
	
}
.total-price{
	margin-left:0.5rem;
}
.btn-buy{
	display:flex;
	margin:1.5rem auto 0 auto;
	padding:12px 20;
	border:none;
	background:var;
	color:var;
	font-size:1rem;
	font-weight:500;
	cursor: pointer;
	
}
btn-buy:hover{
	background:;
}
#close-cart{
	position:absolute;
	top:1rem;
	right:0.8rem;
	font-size:2rem;
	color:(#fd4646)
	cursor:pointer;
}
.section-title{
	font-size:1.5rem;
	font-weight:600;
	text-align:center;
	margin-bottom:1.5rem;
}
.shop{
	margin-top: 2rem;
}
.shop-content{
	display:grid;
	grid-template-columns: repeat(auto-fit,minmax(220px,auto));
	gap:1.5rem;
}
.product-box(
 position: relative;
 
)
.product-box:hover{
	padding: 10px;
	border: 1px solid {border-color:#B2BeB5};
	transition: 0.4s;
}
.product-img{
	width:100%;
	height:auto;
	margin-bottom:0.5rem;
	
}
.product-title{
	font-size:1.1rem;
	font-weight:600;
	text-transform:upercase;
	margin-bottom:0.5rem;
	
}
.price{
	font-weight:500;
	
}
.add-cart{
	possition: absolute;
	bottom:0;
	right:0;
	background(#fd4646);
	color: var;
	padding: 10px;
	cursor:pointer;
}
.add-cart:hover{
	background: hsl(249,32%,17%);
}
